@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/impact.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

.big-container{
    max-width: 1220px; /*width container + 2 paddings*/
    padding: 0 10px; /*the distance between the elements of grid is 20, so that it does not press against the edges of different devices,
    we make indents of 10*/
    margin: 0 auto;/*block will be in the center*/
}
.container {
    max-width: 920px; /*width container + 2 paddings*/
    padding: 0 10px;
    /*the distance between the elements of grid is 20, so that it does not press against the edges of different devices,
       we make indents of 10*/
    margin: 0 auto; /*block will be in the center*/
}
.body{/*usually text is set in the body*/
    font-family: 'Roboto Condensed', sans-serif;
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}
.header {
    padding-top: 25px;
    position: absolute;
    left: 0; /*do this to indicate boundaries*/
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
    display: flex;
    justify-content: space-around   ;/*separate the elements along the edges*/
}

.menu-list{
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    gap: 0 40px;/*1height 2width*/
}
.menu-right{
    padding-right: 80px;
}

.menu-link {
    color: #363636;
    font-size: 16px;
}
.promo{
    background-image: url(../images/promo.jpg);
    background-repeat: no-repeat;/*no-repeat pictures*/
    background-size: cover;
    background-position: center;
    padding-left: 30px;

}
.promo_inner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
}
.subtitle span{
    font-size: 34px;
    display: block;
    color: #9F6B08;
    padding: 10px 0;

}

.promo_text {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
}

.promo_arrow{
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;
}

.info{
   margin-bottom: 100px;
}

.info_part{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.info_part_table{
    padding-top: 66px;
}
.info_first{
    display: block;
}

.info_title{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}
.info_part-textbox{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.info_text{
    flex-basis: 440px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.info_part_img{
    object-fit: cover;/*https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit*/
}

.info_content {
    flex-basis: 415px;
}

.info_part_second .info_text{
    max-width: 352px;
}

.info_part_table .info_text{
    max-width: 377px;
}

.info_table{
    flex-basis: 500px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}
.info_table::before{
    content: '';
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px

}

.info_table tr{
    padding-bottom: 20px;
}

.track{

    background-image: url(../images/track_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.track_inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 100px;
}

.track_title{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.track_text{
    max-width: 435px;

}
.track_img{
   margin: auto auto 90px auto;
}
.evo{
    font-size: 14px;
}
.evo-black{
    background: #363636;
    padding-bottom: 50px;
    padding-top: 100px;
    color: #fff;
}
.evo-black-inner{
    position: relative;
}
.evo-black-inner::before{
    content: '';
    background-image: url(../images/dec-1.svg);
    position: absolute;
    width: 185px;
    height: 213px;
    top: 210px;
    left: -130px;
}

.evo-black-inner::after{
    content: '';
    background-image: url(../images/dec-2.svg);
    position: absolute;
    width: 498px;
    height: 572px;
    top: 290px;
    left: -40px;
}

.evo-black_info{
    display: flex;
    justify-content: space-between;
}
.infoBox{
    margin-left: 50px;
    width: 437px;
    height: 217px;
}
.evo-black_text{
    font-size: 14px;
    margin-bottom: 30px;
}

.evo-black_title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
}

.evo-black_img{
    margin-bottom: 60px;
    margin-top: 170px;
    display: block;
    position: relative;
    z-index: 1;
}

.evo_descr-list{
    color: #fff;
    justify-content: center;
    display: flex;
    gap: 0 65px;
}
.evo_descr-list dd{
    text-transform: uppercase;
}

.evo-white-inner{
    padding-top: 134px;
    position: relative;
}

.evo-white-inner::before{
    content: '';
    background-image: url(../images/dec-3.png);
    position: absolute;
    width: 274px;
    height: 256px;
    top: -20px;
    left: 324px;
}

.evo-white-inner::after{
    content: '';
    background-image: url(../images/dec-4.png);
    position: absolute;
    width: 324px;
    height: 311px;
    top: 75px;
    left: 595px;
}

.evo-white_text{
    margin-bottom: 30px;
}

.evo-white_text:first-child{
    width: 285px;
}

.evo-white_text:nth-child(2){
    width: 437px;
}

.evo-white_text:nth-child(3){
    width: 590px
}

.evo-white_video{
    margin-top: 100px;
    background-image: url(../images/evo-video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.evo-white_video_link span{
    display: block;
    color: #fff;
}
